<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERSONAL PORTFOLIO</title>
    <link rel="stylesheet" href="CSS/portfolio.css">
    <link rel="stylesheet" href="BOOTSTRAP/css/bootstrap.min.css">
    <link rel="icon" href="IMAGES/portfolio icon">
    <script src="https://kit.fontawesome.com/0ed688cb3d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-5">
            <div class="container-fluid ">
               <a class="navbar-brand" href="#">FRANCIS CHIDERA NWANKWO</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-5">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home" style="color:rgba(0, 123, 255, 0.5);">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>
                  
            
                </ul>
                <form class="d-flex">
                  <input class="form-control btn-outline-dark" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
     </header>

     <section class="home row p-5 bg-dark" id="home">
        <div class="home-content col-lg-7 col-md-6 ps-5">
            <h1 class="text-light">Hi, it's <span class="text-primary">FRANCIS.</span></h1>
            <h3 class="text-animation text-light ">I'm <span></span></h3>
            <p class="text-light pt-3" style="font-size: 15px;">My Career aspirations are centered around constant growth, Skill enhancement, problem solving and project management. i'm a passionate and highly skilled professional with experiences in th field of Information Technology. possesses proven ability to learn, determined to work and collaborate in diverse environment, to solve technological problems in the organisation. i will provide the best tech support and customer service to our clients, helping improve their businesses and lives, and strive to problems with a positive attitude that spreads to my co-wokers.</p>

            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-linkedin"></i></box-icon></a>
                <a href="#"><i class="fa-brands fa-github"></i></box-icon></a>
                <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></box-icon></a>
            </div>

            <div class="btn-group mt-3">
                <a href="#" class="btn btn-outline-primary text-light">Hire</a>
                <a href="#contact" class="btn btn-outline-primary text-light">Contact</a>
            </div>
        </div>

         <div class="home-img col-lg-5 col-md-6">
            <img src="IMAGES/Francis.jpg" alt="" class="mt-4 ms-5">
         </div>

     </section>
  

     <section class="education bg-dark" id="education">
        <h2 class="heading">Education/Certification</h2>

         <div class="timeline-items p-2">

          <div class="timeline-item">
              <div class="timeline-date">2024</div>
              <div class="timeline-content">
                <h3>Training/Certification:</h3>
                 <p>Back-end Web development with Node Js and Mongo Db.</p>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-date">2024</div>
              <div class="timeline-content">
                <h3>Training/Certification:</h3>
                 <p>Associate in Project Management, International Institute of Project and safety management.Akure, Ondo state.</p>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-date">2022</div>
              <div class="timeline-content">
                <h3>University:</h3>
                 <p>Bsc.Computer Science,Chukwuemeka Odumegu Ojukwu University(COOU),Anambra State.</p>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-date">2022</div>
              <div class="timeline-content">
                <h3>Internship/Certification:</h3>
                 <p>Front-end web development, Loctech IT training center portharcourt.</p>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-date">2018</div>
              <div class="timeline-content">
                <h3>High-School:</h3>
                 <p>West African Senior School Certificate Examinaton(WASSCE), St. Michael Model Comprehensive Secondary School Nimo. Anambra State</p>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-date">2018</div>
              <div class="timeline-content">
                <h3>Training/Certification:</h3>
                 <p>Diploma In Computer(Computer Appreciation,Ms word, Ms excel,Power point,corel draw,scanning and internet awareness).Ciel Consulting,PortHarcourt.</p>
              </div>
          </div>
          <div class="timeline-item">
              <div class="timeline-date">2012</div>
              <div class="timeline-content">
                <h3>Primary-School:</h3>
                 <p>Diploma In Computer(Computer Appreciation,Ms word, Ms excel,Power point,corel draw,scanning and internet awareness).Ciel Consulting,PortHarcourt.</p>
              </div>
          </div>
        </div>
      </section>


      <section class="services bg-dark" id="services">
        <h2 class="heading p-4 text-light">Services</h2>

        <div class="services-container p-5">
          <div class="service-box">
            <div class="service-info">
              <h4 class="fw-bold ">Front-End Development</h4>
              <p>Responsible for creating the visual and interactive aspects of a website or web application that users interact with directly. crucial in ensuring the website is responsive, user-friendly, and visually appealing.</p>
            </div>
          </div>
          <div class="service-box">
            <div class="service-info">
              <h4 class="fw-bold">Back-End Development</h4>
              <p>Responsible for ensuring that the server-side of an application runs smoothly. This involves designing and maintaining databases, securing data, building APIs, optimizing server performance, and scaling applications to meet user demands. </p>
            </div>
          </div>
          <div class="service-box">
            <div class="service-info">
              <h4 class="fw-bold">Project Management</h4>
              <p>Responsible for planning, executing, and overseeing projects to ensure they are completed on time, within scope, and within budget. They manage resources, coordinate teams, and act as the communication bridge between stakeholders.</p>
            </div>
          </div>
          <div class="service-box">
            <div class="service-info">
              <h4 class="fw-bold">Ms Word,Ms Excel,Power Point,Corel Draw</h4>
              <p>Handling basic computer system software applications.</p>
            </div>
          </div>
        </div>

      </section>


      <section class="testimonials bg-dark pt-4" id="testimonials">
         <div class="testimonials-box">
          <h2 class="heading text-light">Testimonials</h2>

          <div class="wrapper d-flex flex-column flex-md-row p-5">
            <div class="testimonial-item  m-2 p-4">
              <p class="text-center pt-2"><img src="IMAGES/image 1" alt="a teenage boy" width="100px" height="128px"></p>
              <h2 class="text-center">Christopher</h2>
              <div class="rating text-center">
                <img src="IMAGES/5 star photo.jpg" alt="5 star" width="100px">
              </div>
              <p class="text-center pt-4">Having worked closely with him, I can attest to his outstanding skills in orchestrating complex projects with precision and ease. Mr Francis consistently delivers projects on time, within scope, and under budget, while maintaining high team morale and clear communication. . If you need a project manager who ensures success and fosters collaboration,he is the one you need! 🙌</p>
            </div>
            <div class="testimonial-item  m-2 p-2">
              <p class="text-center pt-2"><img src="IMAGES/image 2.jpg" alt="a lady passport" width="100px"></p>
              <h2 class="text-center">Mary-Ann</h2>
              <div class="rating text-center">
                <img src="IMAGES/5 star photo.jpg" alt="5 star" width="100px">
              </div>
              <p class="text-center pt-4">I highly recommend Mr Francis for any web development projects. With an eye for detail and a passion for creating clean, responsive, and user-friendly designs,he consistently delivers stunning results. 🎨🔧
                If you're looking to elevate your digital presence, he is the front-end expert you need!</p>
            </div>
            <div class="testimonial-item  m-2 p-2">
             <p class="text-center pt-2"> <img src="IMAGES/image 3.jfif" alt="a man passport" width="130px"> </p>
              <h2 class="text-center">Mr Donald</h2>
              <div class="rating text-center">
                <img src="IMAGES/5 star photo.jpg" alt="5 star" width="100px">
              </div>
              <p class="text-center pt-4">I highly recommend Francis for anyone looking to build a solid, efficient, real fast and scalable back-end system. With his expertise he ensures that everything behind the scenes runs seamlessly, from server architecture to databases and APIs. 🚀 If you’re looking to take your application’s back-end to the next level, he is the expert you need! 💯</p>
            </div>
          </div>
         </div>
      </section>

      <section class="contact bg-dark p-5" id="contact">
        <h2 class="heading text-light pb-5">Contact <span class="text-primary">Me</span></h2>

        <form action="" style="padding-bottom: 100px;">
          <div class="input-group justify-content-center">
            <div class="input-box d-flex flex-column me-5">
              <input type="text" name="Fullname" placeholder="Fullname" class="fullname">
              <input type="email" name="Email" placeholder="Email" class="email">
              <input type="number" name="Number" placeholder="Number" class="number">
              <input type="subject" name="Subject" placeholder="Subject" class="subject">
            </div>
            <div class="input-group-2 d-flex flex-column align-items-center">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" class="textarea"></textarea>
            <p class="output text-danger fw-bold pt-2"></p>
            <input type="submit" value="Send Message" class="btn-primary p-2 mt-3 sub">
           </div>
           </div>
        </form>
      </section>
      
      <footer class="footer text-center p-5" style="background-color: black;">
        <div class="socials">
          <a href="#" class="btn btn-outline-primary rounded-circle"><i class="fa-brands fa-linkedin"></i></box-icon></a>
          <a href="#" class="btn btn-outline-primary rounded-circle"><i class="fa-brands fa-github"></i></box-icon></a>
          <a href="https://web.whatsapp.com/" class="btn btn-outline-primary rounded-circle"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#" class="btn btn-outline-primary rounded-circle"><i class="fa-brands fa-instagram"></i></i></box-icon></a>
      </div>

      <ul class="list pt-4" style="list-style-type: none;">
        <li>
          <a href="#" class="btn text-light">FAQ</a>
        </li>
        <li>
          <a href="#" class="btn text-light">Services</a>
        </li>
        <li>
          <a href="#" class="btn text-light">About Me</a>
        </li>
        <li>
          <a href="#" class="btn text-light">Contact</a>
        </li>
        <li>
          <a href="#" class="btn text-light">Testimonials</a>
        </li>
      </ul>
      <p class="copyright text-primary fw-bold">
        Francis Nwankwo | All Rights Reserved
      </p>
      </footer>
    
      <div class="totop">
        <a href="#header" id="toToplink" class="btn btn-primary">TO TOP <i class="fa-solid fa-arrow-up"></i></a>
      </div>

    <script src="JAVASCRIPT/portfolio.js"></script>
    <script src="BOOTSTRAP/js/bootstrap.min.js"></script>
</body>
</html>